<html>
    <head>
        <title>Blog Website</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="login">
            <h1>Login</h1>
            <form method="post" action="/" >
                <input type="text" name="u" placeholder="Username" required />
                <input type="password" name="p" placeholder="Password" required/>
                <button  type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
            </form>

            <form action="/register" method="get">
                <button type="submit" class="btn btn-primary btn-block btn-large" > Register</button>
            </form>

            <% if (name==="n") { %>
                <div>
                    <div id='container'>
                        <div id='hideMe'><h3 style="color : #ff1e56; text-align: center;">Password Incorrect</h3></div>
                    </div>
                    </div>
            <% } %>


            <% if (name==="p") { %>
                <div>
                    <div id='container'>
                        <div id='hideMe'><h3 style="color : #ff1e56; text-align: center;">Username not registered</h3></div>
                    </div>
                    </div>
            <% } %>
        </div>

        
    </body>
</html>